<html>
	<head>

<table>
{% for item in items %}
	<script>
		console.log(item.open)
	</script>
<tr>
	<th>{{item.description}}</th>
	<th>{{item.open}}</th>
	<th>{{item.close}}</th>
</tr>
{% endfor %}
</table>
</html>
